<div class="history-order">
    <div class="container">
        <div class="row history-order-header">
            <div class="col-2 font-bold">Mã đơn hàng</div>
            <div class="col-5 font-bold">Đơn hàng</div>
            <div class="col-2 font-bold">Ngày đặt</div>
            <div class="col-2 font-bold">Tổng tiền</div>
            <div class="col-1 font-bold"></div>
        </div>
        <div class="row">
            <div class="col-2 d-flex align-items-center">1</div>
            <div class="col-5 d-flex align-items-center history-order-main-info">
                <img src="" alt="Giày">
                <div>
                    <p>Tên</p>
                    <p>Còn 3 sản phẩm <a href="">Xem thêm</a></p>
                </div>
            </div>
            <div class="col-2 d-flex align-items-center">14/09/2003</div>
            <div class="col-2 d-flex align-items-center">230,000đ</div>
            <div class="col-1 d-flex align-items-center">
                <button>Xem chi tiết</button>
            </div>
        </div>
    </div>
</div>
