<section class="child">
  <!-- header -->
  <div class="child-header">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-3 col-md-4">
          <h3> <span style="color: #c4c2c2">TRANG CHỦ / </span>TRẺ EM</h3>
        </div>
        <div class="child-header_right  col-lg-3 col-md-4 d-none d-md-flex d-flex">
          <h5 class="m-0" style="margin-top: 10px !important;">Hiển thị 12 trong 22 kết quả</h5>
          <div class="child-header_order d-flex justify-content-between align-items-center px-4 mt-3">
            <p class="m-0 mx-2">Thứ tự mặc định</p>
            <i class="pi pi-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="child-content d-flex justify-content-center">
    <div class="container" style="margin: 0; width: 100%; margin-top: -20px;">
      <div class="row justify-content-between align-items-center">
        <!-- left -->
        <div class="col-md-3 col-lg-3 d-sm-none d-md-block d-flex">
          <!-- price filter -->
          <div class="child-content-filter">
            <h4 style="margin-bottom: -5px;">LỌC THEO GIÁ</h4>
            <div class="range">
              <input type="range" id="range1" />
            </div>
            <div class="d-flex justify-content-between">
              <button style="position: relative;">
                <span style="position: absolute; top: 5%;
                left: 26%;">Lọc</span>
              </button>
              <h6 style="margin-top: 8px; text-align: end;" class="text-muted">Giá <span
                  class="fw-700 text-dark">100.000 VND - 1.200.000
                  VND</span>
              </h6>
            </div>
          </div>

          <!-- product suggestion -->
          <div class="child-content-product my-5">
            <h4 class="text-fark">SẢN PHẨM</h4>
            <div class="child-content-product_table my-4">
              <div class="container">
                <div class="row g-5 align-items-center justify-content-center child-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/cv2.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Run Star Hike</p>
                    <p class="my-2 text-dark fw-bold">820.000 VND</p>
                  </div>
                </div>

                <div class="row my-0 g-5 align-items-center justify-content-center child-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van1.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Urbas Corluray Mix - High Top</p>
                    <p class="my-2 text-dark fw-bold">920.000 VND</p>
                  </div>
                </div>

                <div class="row my-0 g-5 align-items-center justify-content-center child-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van2.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Vintas Jazico - High Top</p>
                    <p class="my-2 text-dark fw-bold">570.000 VND</p>
                  </div>
                </div>

                <div class="row my-0 g-5 align-items-center justify-content-center child-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van4.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Chuck 70 De Luxe Heel</p>
                    <p class="my-2 text-dark fw-bold">390.000 VND</p>
                  </div>
                </div>

                <div class="row my-0 g-5 align-items-center justify-content-center child-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van5.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Urbas Corluray Mix - High Top</p>
                    <p class="my-2 text-dark fw-bold">780.000 VND</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- post recommendation -->
          <div class="child-content-post my-5">
            <h4 class="text-dark">BÀI VIẾT MỚI NHẤT</h4>
            <div class="child-content-post_table my-4">
              <div class="container">
                <div class="row g-5 align-items-center justify-content-center child-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post1.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8 child-content-post-item">
                    <p class="lead card-title">Cảm xúc từ những tia nắng cuối cùng cho phép ý tưởng lộ
                      nét...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center child-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post2.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8 child-content-post-item">
                    <p class="lead card-title">Đặc biệt, tên gọi khác của loại vải Corduroy sợi to (3-8
                      sợi/inch)- ...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center child-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post3.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8 child-content-post-item">
                    <p class="lead card-title">Hẳn mọi người đã không mấy xa lạ với chất liệu Corduroy -
                      Nhung...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center child-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post4.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8 child-content-post-item">
                    <p class="lead card-title">Hai yếu tố trên phối trộn cùng với những gam màu tươi tắn
                      để...</p>
                  </div>
                </div>

                <div class="row my-2 g-5 align-items-center justify-content-center child-content-post_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/post5.jpg" alt="giaycv" class="img-fluid rounded-circle"
                      style="margin-left: 10px; width: 60px; height:60px">
                  </div>

                  <div class="col-8 child-content-post-item">
                    <p class="lead card-title text-secondary">Chất liệu Corduroy lần đầu tiên được ứng dụng trên dáng
                      giày...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- right -->
        <div class="col-md-8 col-lg-8 child-content-shoes">
          <div class="row my-5 d-flex align-items-center justify-content-center g-5">
            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/cv1.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Soda Pop - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">120.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van3.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Track 6 2.Blues - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">740.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van2.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Urbas Corluray Mix - High Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">280.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/cv2.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Track 6 2.Blues - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">780.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>
          </div>

          <div class="row my-5 align-items-center justify-content-center g-5">

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van1.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Public 2000s - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">980.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van2.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Soda Pop - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">730.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van1.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Public Public - Med Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">430.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/cv3.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Nauda EXT - High Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">660.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>
          </div>

          <div class="row my-5 align-items-center justify-content-center g-5">

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/cv1.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Landforms - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">120.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van1.jpg" alt="giaycv" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas Nauda EXT - High Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">230.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/van2.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Vintas JazicoPublic - High Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">560.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-body py-3">
                  <img src="../../../../assets/images/cv2.jpg" alt="giayvan" class="img-fluid">
                </div>
                <div class="card-footer text-center tw-bold border-0">
                  <p class="lead card-title text-secondary">Chuck Landforms - Low Top</p>
                  <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">780.000 VND</p>
                </div>
                <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
              </div>
            </div>
          </div>

          <!-- pagination -->
          <div class="row mb-5 mt-2 g-5 accessories-content-shoes_pagin">
            <nav aria-label="...">
              <ul class="pagination border-dark">
                <li class="page-item">
                  <a class="page-link text-dark" href="#" tabindex="-1" aria-disabled="true"
                    style="border-radius: 20px;">
                    <i class="pi pi-angle-double-left"></i>
                  </a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#" style="background-color: red; border: none;">2</a>
                </li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link text-dark" href="#" style="border-radius: 20px;">
                    <i class="pi pi-angle-double-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>