.banner {
  margin: 100px;
}

.product-header,
.accesories-header,
.discount-product-header {
  width: 80vw;
  margin: 0 auto;
  border-bottom: 5px black solid;
}

.product-header-item,
.accesories-header-item,
.discount-product-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  // margin-bottom: -10px;
  padding: 5px 30px 0px 30px;
}

.product-header-item:hover {
  background-color: black !important;
  color: white !important;
  cursor: pointer;
}

.product-header-item>p {
  margin-bottom: 2px;
}

.card:hover {
  cursor: pointer;
  // transform: scale(2);
}

.card-body span {
  height: 30px;
  width: 30px;
}

.card-footer {
  background-color: white !important;
}

.card-footer>p {
  font-size: 18px;
}

.card-title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.discout-banner {
  margin: 0 auto;
  width: 95%;
  height: 600px;
}

.discout-banner {
  position: relative;
  background: url("../images/discountBanner.jpg") no-repeat;
  background-size: 100%;
}

.discount-banner-wrap {
  background-color: rgba(67, 55, 55, 0.6);
  position: relative;
  height: 100%;
  font-size: 60px;
  color: white;
  position: relative;
}

.discout-img {
  margin: 0px 50px;
  opacity: 1;
  transition: 0.5s ease-in;
}

.discount-img:hover {
  opacity: 0.5;
}

.discount-img:hover>.discount-btn {
  font-size: 35px;
  background-color: white;
}

.discount-btn {
  display: inline-block;
  background-color: #ff0000;
  border-radius: 4px;
  border: 5px rgb(185, 31, 31) solid;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  transition: all 0.5s;
  width: 165px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-30%);
}

.discount-btn:hover {
  color: rgb(185, 31, 31);
  background-color: #ffdada;

}