.login-form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login-logo {
        width: 300px;
        height: 300px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        input {
            padding: 16px 10px;
            margin-bottom: 16px;
        }
    }
    .login__button{
        margin-top: 20px;
        .p-button {
            width: 100%;
            background-color: $black-color;
            color: $white-color;
            border: $black-color;
            box-shadow: none;
        }
    }
    .p-password {
        width: 100%;
        input {
            width: 100%;
        } 
    }
    .no-account-container {
        margin-top: 8px;
    }
    .remember-pass {
        margin-top: 16px;
        .remember-pass_checkbox {
            margin-right: 8px;
        }
        label {
            user-select: none;
        }
    }
}