.navbar.navbar-expand-sm.bg-secondary.navbar-dark {
  background-color: #dbdbdb !important;
  z-index: 2;

  .container-fluid {
    .navbar-toggler {
      background-color: black;
    }
  }

  .navbar-nav {
    margin: 0 !important;
    .nav-link {
      color: black !important;
      font-weight: 600 !important;
      font-size: 15px !important;
      width: auto;
      position: relative;
      text-transform: uppercase;
      word-spacing: -1px;

      &:hover {
        color: rgb(145, 39, 39) !important;
        cursor: pointer;

        .allProduct {
          display: block;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        height: 5px;
        width: 80%;
        background-color: rgb(152, 35, 35);
        position: absolute;
        display: block;
        top: calc(100% + 2px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;

        &.active {
          display: block;
        }
      }

      &.active {
        color: red !important;
      }
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 575px) {
  // .navbar-toggler:active {
  //   .collapse.navbar-collapse.justify-content-center {
  //     display: block !important;
  //   }
  // }
  .collapse.navbar-collapse.justify-content-center.show {
    display: block !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar.navbar-expand-sm.bg-secondary.navbar-dark .navbar-nav .nav-link {
    font-size: 13px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  nav {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1401px) and (max-width: 1899px) {
}
