<div class="shoppingCart">
  <div class="container px-3 my-5">
    <!-- Shopping cart table -->
    <div class="card">
      <div class="card-header">
        <h2 class="text-danger">Shopping Cart</h2>
      </div>
      <div class="card-body row d-flex justify-content-between">
        <div class="col-12 col-lg-8">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th class="text-center py-3 px-4" style="min-width: 200px;">Product Name &amp; Details</th>
                  <th class="text-center py-3 px-4" style="width: 100px;">Price</th>
                  <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                  <th class="text-center py-3 px-4" style="width: 100px;">Total</th>
                  <th class="text-center py-3 px-4 choose" style="width: 10px;">Buy</th>
                  <!-- <th class="text-center align-middle py-3 px-0" style="width: 60px;">x</th> -->
                </tr>
              </thead>
              <tbody>
                @for(itemCart of producsInCart; track itemCart){
                <tr>
                  <td class="p-4">
                    <div class="media d-flex align-items-center justify-content-between">
                      <img [src]="'http://localhost:8089/api/v1/products/images/' + itemCart.products.thumbnail"
                        class="d-block ui-w-40 ui-bordered mr-4" alt="ao1">
                      <div class="media-body text-end">
                        <a href="#" class="d-block text-dark">{{itemCart.products.name}}</a>
                        <small>
                          <span class="text-muted">Size: </span>{{itemCart.size}} &nbsp;
                        </small>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">{{itemCart.products.price |
                    currency:'VND':'symbol':'1.0-0'}}</td>
                  <td class="align-middle p-4">
                    <!-- <input [(ngModel)]="itemCart.quanity" [pKeyFilter]="'int'" class="form-control text-center" [value]="itemCart.quanity"> -->
                    <p-inputNumber [min]="1" [(ngModel)]="itemCart.quantity" buttonLayout="horizontal"
                      inputId="horizontal" [showButtons]="true" decrementButtonClass="p-button-secondary"
                      incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                      decrementButtonIcon="pi pi-minus"></p-inputNumber>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                  <td class="align-middle p-4"><input type="checkbox" style="width: 20px; height: 20px;"></td>
                  <!-- <td class="text-center align-middle px-0 bg-danger cart-remove">
                      <a href="#" class="shop-tooltip close float-none text-light" title="" data-original-title="Remove"
                        style="text-decoration: none;">X</a>
                    </td> -->
                </tr>
                }
              </tbody>
            </table>
          </div>

          <div class="d-flex flex-row justify-content-around align-items-center my-3">
            <button type="button" class="btn btn-lg table-button mt-2 mr-3 text-uppercase text-light">
              <i class="pi pi-arrow-left" style="color: red;"></i>
              Tiếp tục xem sản phẩm</button>
            <button type=" button" class="btn btn-lg table-button mt-2 text-light fw-semibold">Cập nhật giỏ
              hàng</button>
          </div>
        </div>

        <div class="col-12 col-lg-4 cart__right">
          <h6 class="card__right--title text-uppercase fw-bold">Tổng số lượng</h6>
          <hr>
          <div class=" card__right--price d-flex justify-content-between align-items-center">
            <p>Tổng phụ</p>
            <p><span>1,250,000 ₫</span></p>
          </div>
          <hr>
          <div class="card__right--ship d-flex justify-content-between align-items-center">
            <p>Giao hàng</p>
            <div>
              <p>Giao hàng miễn phí</p>
              <p>Ước tính cho <span class="fw-semibold">Mỹ (US)</span>.</p>
              <p> Đổi địa chỉ</p>
            </div>
          </div>
          <hr>
          <div class="card__right--price d-flex justify-content-between align-items-center">
            <p>Tổng</p>
            <p><span>1,250,000 ₫</span></p>
          </div>
          <hr>
          <div class="card__right--button my-4">
            <button class="btn text-uppercase text-light fw-bold">tiến hành thanh toán</button>
          </div>
          <hr>
          <div class="card__right--voucher d-flex flex-row">
            <i class="pi pi-tag"></i>
            <h4 class="mx-4">Phiếu ưu đãi</h4>
          </div>
          <hr>
          <div class="card__right--voucher--code">
            <input type="text" placeholder="Mã ưu đãi">
          </div>
          <div class="cart__right--apply">
            <button class="btn">Áp dụng</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
