// Color
$black-color: #000;
$white-color: #fff;
<<<<<<< HEAD
$nav-bar-color: #dcdcdc;
=======
$nav-bar-color:#dcdcdc ;
>>>>>>> 0e6c2719fa1a5c75b389a2b331fa3d08a8b3535d
// Height
$header-height: 80px;
$nav-bar-height: 56px;