<div class="container-fluid nav-bar-container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <ul class="nav-bar-list">
                <li class="nav-bar-item">
                    <a href="">Trang chủ</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Giới thiệu</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Nữ</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Nam</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Trẻ em</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Tin tức</a>
                </li>
                <li class="nav-bar-item">
                    <a href="">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
