<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <!-- <div class="navbar-collapse d-flex justify-content-center align-items-center"
                    id="collapsibleNavbar">
                    <ul class="navbar-nav text-uppercase fw-bold"> -->

        <li class="nav-item mx-3">
          <a class="nav-link" aria-current="true" href="#">Trang chủ</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/Intro']">Giới thiệu</a>
        </li>

        <li class="nav-item dropdown mx-3">
          <a class="nav-link nav-link-drop dropdown-toggle" href="" id="navbarScrollingDropdown" role="button"
            [routerLink]="['/giayNu']" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nữ</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Classic</a></li>
            <li><a class="dropdown-item" href="#">Sunbaked</a></li>
            <li><a class="dropdown-item" href="#">Chucks 70s</a></li>
            <li><a class="dropdown-item" href="#">One Star</a></li>
            <li><a class="dropdown-item" href="#">PSY-Kicks</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown mx-3">
          <a class="nav-link nav-link-drop dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
            [routerLink]="['/giayNam']">Nam</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Classic</a></li>
            <li><a class="dropdown-item" href="#">Sunbaked</a></li>
            <li><a class="dropdown-item" href="#">Chucks 70s</a></li>
            <li><a class="dropdown-item" href="#">One Star</a></li>
            <li><a class="dropdown-item" href="#">PSY-Kicks</a></li>
          </ul>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/treEm']">Trẻ em</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/phuKien']">Phụ kiện khác</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="" [routerLink]="['/news']">Tin tức</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>