<section class="men">
  <!-- header -->
  <div class="men-header">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-3 col-md-4">
          <h3> <span style="color: #c4c2c2">TRANG CHỦ / </span>TẤT CẢ SẢN PHẨM</h3>
        </div>
        <div class="men-header_right col-lg-3 col-md-4 d-none d-md-flex d-flex align-items-center">
          <div class="d-flex justify-content-between align-items-center px-4 mt-3">
            <p-dropdown [options]="sortOptions" placeholder="Sắp xếp theo giá"
              (onChange)="onSortChange($event)"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- content -->
  <div class="allProduct-content d-flex justify-content-center">
    <div class="container" style="margin: 0; width: 100%; margin-top: -20px;">
      <div class="row justify-content-between align-items-center">
        <!-- left -->
        <div class="col-md-3 col-lg-3 d-sm-none d-md-block d-flex">
          <!-- price filter -->
          <div class="allProduct-content-filter">
            <h4 style="margin-bottom: -5px;">LỌC THEO GIÁ</h4>
            <div class="range">
              <input type="range" id="range1" />
            </div>
            <div class="d-flex justify-content-between">
              <button style="position: relative;">
                <span style="position: absolute; top: 5%;
                  left: 26%;">Lọc</span>
              </button>
              <h6 style="margin-top: 8px; text-align: end;" class="text-muted">Giá <span
                  class="fw-700 text-dark">100.000 VND - 1.200.000
                  VND</span>
              </h6>
            </div>

            <!-- product suggestion -->
            <div class="men-content-product my-5">
              <h4 class="text-dark">SẢN PHẨM</h4>
              <div class="men-content-product_table my-4">
                <div class="container">
                  <p-dataView #dv [value]="productsHighlight">
                    <ng-template pTemplate="list" let-products>
                      @for(item of productsHighlight;track item){
                      <div (click)="navigateToDetail(item.id)"
                        class="row align-items-center justify-content-center men-content-product_table-item">
                        <div class="col-4">
                          <img [src]="'http://localhost:8089/api/v1/products/images/' + item.thumbnail" alt="giaycv"
                            class="img-fluid" style="margin-left: 10px;">
                        </div>

                        <div class="col-8">
                          <p class="lead card-title text-secondary">{{item.name}}</p>
                          <p class="my-2 text-dark fw-bold">{{item.price | currency:'VND':'symbol':'1.0-0'}}</p>
                        </div>
                      </div>
                      }
                    </ng-template>
                  </p-dataView>
                </div>

                <div
                  class="row my-0 g-5 align-items-center justify-content-center allProduct-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van1.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Urbas Corluray Mix - High Top</p>
                    <p class="my-2 text-dark fw-bold">920.000 VND</p>
                  </div>
                </div>

                <div
                  class="row my-0 g-5 align-items-center justify-content-center allProduct-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van2.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Vintas Jazico - High Top</p>
                    <p class="my-2 text-dark fw-bold">570.000 VND</p>
                  </div>
                </div>

                <div
                  class="row my-0 g-5 align-items-center justify-content-center allProduct-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van4.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Chuck 70 De Luxe Heel</p>
                    <p class="my-2 text-dark fw-bold">390.000 VND</p>
                  </div>
                </div>

                <div
                  class="row my-0 g-5 align-items-center justify-content-center allProduct-content-product_table-item">
                  <div class="col-4">
                    <img src="../../../../assets/images/van5.jpg" alt="giaycv" class="img-fluid"
                      style="margin-left: 10px;">
                  </div>

                  <div class="col-8">
                    <p class="lead card-title text-secondary">Urbas Corluray Mix - High Top</p>
                    <p class="my-2 text-dark fw-bold">780.000 VND</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- right -->
          <div class="col-md-8 col-lg-8 men-content-shoes">
            <p-dataView [value]="products" [rows]="12" [sortField]="sortField" [sortOrder]="sortOrder">
              <ng-template let-products pTemplate="list">
                <div class="row my-5 d-flex align-items-center justify-content-center g-5">
                  @for (item of products; track item) {
                  <div (click)="navigateToDetail(item.id)" class="col-lg-3 col-6">
                    <div>
                      <div class="card">
                        <div class="card-body py-3">
                          <img [src]="'http://localhost:8089/api/v1/products/images/' + item.thumbnail" alt="giaycv"
                            class="img-fluid">
                        </div>
                        <div class="card-footer text-center tw-bold border-0">
                          <p class="lead card-title text-secondary">{{item.name}}</p>
                          <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">{{item.price |
                            currency:'VND':'symbol':'1.0-0'}}</p>
                        </div>
                        <button (click)="addToCart($event)" class="btn btn-danger" id="btn-addCart">THÊM VÀO
                          GIỎ</button>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </ng-template>
            </p-dataView>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="12"
              [totalRecords]="totalRecord"></p-paginator>
          </div>
        </div>

        <!-- right -->
        <div class="col-md-8 col-lg-8 allProduct-content-shoes">
          <p-dataView [value]="products" [rows]="3" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder">
            <ng-template let-products pTemplate="list">
              <div class="row my-5 d-flex align-items-center justify-content-center g-5">
                @for (item of products; track item) {
                <div (click)="navigateToDetail(item.id)" class="col-lg-3 col-6">
                  <div>
                    <div class="card">
                      <div class="card-body py-3">
                        <img src="http://localhost:8089/api/v1/products/images/{item.thumbnail}}" alt="giaycv"
                          class="img-fluid">
                      </div>
                      <div class="card-footer text-center tw-bold border-0">
                        <p class="lead card-title text-secondary">{{item.name}}</p>
                        <p class="my-2 text-danger fw-semibold" style="font-size: 15px;">{{item.price}}</p>
                      </div>
                      <button class="btn btn-danger" id="btn-addCart">THÊM VÀO GIỎ</button>
                    </div>
                  </div>
                </div>
                }
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </div>
</section>