<div class="container-fluid p-0 h-100">
    <div class="row h-100 m-0 d-flex align-items-center">
        <div class="col-lg-3 col-sm-4 offset-lg-4 offset-sm-2 login-form-container">
            <!-- <img class="login-logo" src="/src/assets/images/z5126507952479_4523e39e253c486dd6fd48597dcf5a49.jpg" alt="#"> -->
            <h2 class="login-title">Đăng nhập</h2>
            <div class="form-group-container">
                <form class="form-group" [formGroup]="loginForm">
                    <input type="text" placeholder="Tên đăng nhập" pInputText formControlName="userName"/>
                    <input type="password" placeholder="Mật khẩu" pInputText formControlName="password"/>
                </form>
            </div>
            <div class="remember-pass d-flex">
                <p-checkbox class="remember-pass_checkbox" [binary]="true" inputId="binary" value="Ghi nhớ tài khoản này" inputId="remember"></p-checkbox>
                <label for="remember">Ghi nhớ tài khoản này</label>
            </div>
            <p-button class="login__button" label="Đăng nhập" type="submit"></p-button>
            <!-- <button mat-raised-button type="submit">Đăng nhập</button> -->
            <div class="no-account-container">
                <span>Chưa có tài khoản <a href="">Đăng ký</a></span>
            </div>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
        </div>
    </div>
</div>
